body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}


/* layout the emoji cards as design */
.emojis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.emoji {
    /* layout the content of the emoji*/
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
}

/* fixed the order of the icon */
.emoji span {
    order: -1;
}
.emoji a{
    order: 1;
}
.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
}

.icon {
    font-size: 4rem;
}

/* makes the icon centered*/
span {
    display: flex;
    justify-content: center;
}